DATABASE_URL=postgres://postgres:root@localhost:5432/genshin_roles
DISCORD_CLIENT_ID=1389130157427785779
DISCORD_CLIENT_SECRET=enJe2YGNpaAAlX5TODj9t4LOpA1-klR8
SESSION_SECRET=Gx79gKVKT2YVJpEGsGF7VS5v6crbMkO4PA5ebze36xltZJj0w006WW8VXfugxlRY
ENKA_USER_AGENT=GenshinRoles/1.0
BASE_URL=https://test-plugin.faizo.net
LISTEN_ADDR=0.0.0.0:3099
RUST_LOG=genshin_roles=info,tower_http=info
